<table class="table table-hover-angular">
	<thead>
	<tr class="col-name">
		<th scope="col">Ciudad</th>
		<th scope="col">Actual</th>
		<th scope="col">Max°/Min°</th>
		<th scope="col">Humedad</th>
	</tr>
	</thead>
	<tbody>

	<tr>
		<th scope="row">Roma</th>
		<td class="img-cont-ciudad img-v img-h-ciudad">
			<span>30°</span>
			<img class="img-ciudad" src="public/images/icons/01d.svg">
		</td>
		<td>15°/25°</td>
		<td>50%</td>
		<td>
			<button class="button-del">
				<img src="public/images/icons/delete.svg">
			</button>
		</td>
	</tr>

	</tbody>
</table>